<!DOCTYPE html>

{% load static %}
{% load sass_tags %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% sass_src 'mystyle.scss' %}">
  {% comment %} <link rel="stylesheet" href="{% static "base.css" %}">
  <link rel="stylesheet" href="{% static "layot.css" %}">
  <link rel="stylesheet" href="{% static "modules.css" %}"> {% endcomment %}
  <link rel="shortcut icon" href="{% static "dino.png" %}" type="image/x-icon">
  <title>Dope website!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</title>
</head>
<body>
  <header>
  
  </header>
  <main>
      <nav>
          <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url "profile" %}">Profile</a></li>
            <li><a href="{% url "photos" %}">Pictures</a></li>
            <li><a href="{% url "library" %}">Library</a></li>
            <li><a href="{% url "albums" %}">Albums</a></li>
            <li><a href="{% url "auth_logout" %}">Logout</a></li>
            {% else %}
            <li><a href="{% url "registration_register" %}">Signup</a></li>
            <li><a href="{% url "auth_login" %}">Signin</a></li>
            {% endif %}
          </ul>
        </nav>
        {% comment %} {% if user.is_authenticated %}
        <h3>Hey there {{ user.username }}</h3>
        {% endif %} {% endcomment %}
        <div class="midle">   
    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
    <div>
  </main>
  <footer>

  </footer>
</body>
</html>