{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
<h2>Photos<h2
{% for photo in photos %}
{% thumbnail photo.image "250x250" as im %}
<a href="{{ photos.url }}"><img src="{{im.url}}"></a>
{% endthumbnail %}
{% endfor %}
{% comment %} {% endif %} {% endcomment %}

<h2>Albums</h2>
{% comment %} {% if albums %} {% endcomment %}
{% for album in albums %}
{% thumbnail album.cover.image "250x250" as im %}
<a href="{{album.link}}"><img src="{{ im.url }}"></a>
{% endthumbnail %}
{% endfor %}
{% comment %} {% endif %} {% endcomment %}
{% endblock content %}