nav {
    padding: 0.1em;
    margin : 20px;
    li {
      display: inline-block;
      font-size: 25px;
      margin-right: 0.4em;
      font-size: 1.5em;
      padding: 0.5em .2em;
      border-bottom: 1px solid #ccc;
    }
  }
    